@model Locadora.Models.Genero

@{
    ViewData["Title"] = "Create";
}

<body class="bg-dark text-white">
    <div class="container mt-5">
        <h1 class="text-center text-danger display-4">Criar Novo Gênero</h1>
        <div class="card bg-dark text-white p-4 shadow-lg rounded">
            <h4 class="text-warning">Preencha os detalhes do Gênero</h4>
            <hr class="bg-danger">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Nome -->
                <div class="form-group mb-3">
                    <label asp-for="Nome" class="control-label">Nome do Gênero</label>
                    <input asp-for="Nome" class="form-control" placeholder="Digite o nome do gênero" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <!-- Descrição -->
                <div class="form-group mb-3">
                    <label asp-for="desc" class="control-label">Descrição</label>
                    <input asp-for="desc" class="form-control" placeholder="Digite a descrição" />
                    <span asp-validation-for="desc" class="text-danger"></span>
                </div>

                <!-- Data de Criação -->
                <div class="form-group mb-3">
                    <label asp-for="DtCriacao" class="control-label">Data de Criação</label>
                    <input asp-for="DtCriacao" class="form-control" type="date" />
                    <span asp-validation-for="DtCriacao" class="text-danger"></span>
                </div>

                <!-- Botão de Submit -->
                <div class="form-group mb-3">
                    <input type="submit" value="Criar Gênero" class="btn btn-danger w-100" />
                </div>
            </form>
        </div>

        <!-- Voltar à lista -->
        <div class="text-center mt-4">
            <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar à Lista</a>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
