@model Locadora.Models.Filme

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo" class="control-label"></label>
                <input asp-for="Emprestimo" class="form-control" />
                <span asp-validation-for="Emprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Devolucao" class="control-label"></label>
                <input asp-for="Devolucao" class="form-control" />
                <span asp-validation-for="Devolucao" class="text-danger"></span>
            </div>

            <!-- Checkbox para ProdId (várias produtoras) -->
            <div class="form-group mb-3">
                <label asp-for="ProdId" class="control-label">Produtora</label>
                <select asp-for="ProdId" class="form-control" asp-items="ViewBag.Produtoras"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


